@model IEnumerable<EntitiyApp.Models.Tbl_Urun>

@{
    ViewBag.Title = "Kategori";
}

<h2>Kategori</h2>

<p>
    @Html.ActionLink("Ürün Ekle", "Create", new { Id=ViewBag.Id})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdet)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UrunId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.UrunId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.UrunId })
        </td>
    </tr>
}

</table>
